.container{
   
    display: inline-block;
    position: relative;

}

.container1{
   
    float: right;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
}
.button{
    height: 50px;
    width: 250px;
    background-color: rgb(91, 91, 202);
    color: white;
    margin-top: 100px;
    border: rgb(91, 91, 202) ;
    border-radius: 10px;
    display: block;
}
.parent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    /* margin-top: 40%; */
}
.child{
    height: 200px;
    width: 200px;
    color: white;
    background-color: blueviolet;
    margin-left: 20px;
   text-align: center;
   margin-top: 20px;

}
.child1{
    height: 200px;
    width: 200px;
    color: white;
    background-color: blueviolet;
    /* margin-left: 20px; */
   text-align: center;
   margin-top: 20px;

}
.child2{
    height: 200px;
    width: 200px;
    color: white;
    background-color: blueviolet;
    /* margin-left: 20px; */
   text-align: center;
   margin-top: 20px;

}
.button1{
    height: 50px;
    width: 250px;
    background-color: rgb(91, 91, 202);
    color: white;
    margin-top: 100px;
    border:  rgb(91, 91, 202) ;
    border-radius: 10px;
    align-items: center;
   
}
.parent1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
    /* margin-top: 40%; */
}
.child3{
    height: 200px;
    width: 200px;
    color: white;
    background-color:  rgb(226, 107, 43);
    margin-left: 20px;
   text-align: center;
   margin-top: 20px;

}
.child4{
    height: 200px;
    width: 200px;
    color: white;
    background-color: rgb(226, 107, 43);
    /* margin-left: 20px; */
   text-align: center;
   margin-top: 20px;

}
.child5{
    height: 200px;
    width: 200px;
    color: white;
    background-color:  rgb(226, 107, 43);
    /* margin-left: 20px; */
   text-align: center;
   margin-top: 20px;

}

@media screen and (max-width: 600px){
.parent{
    flex-direction: column;
    flex-wrap: nowrap;
   margin: 30px;

}
}

@media screen and (max-width: 600px){
    .container{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    }
    @media screen and (max-width: 600px){
        .button{
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        }
        }
        @media screen and (max-width: 850px){
            .button1{
               background-color: aqua;
            }
            }
            @media screen and (max-width: 600px){
                .button1{
                   background-color: rgb(0, 255, 106);
                }
                }
                @media screen and (max-width: 370px){
                    .button1{
                       background-color: rgb(255, 119, 0);
                    }
                    }
                    @media screen and (max-width: 600px){
                        .parent1{
                            flex-direction: column;
                            flex-wrap: nowrap;
                           margin: 30px;
                        
                        }
                        }
        